# flask==3.0.3
# ultralytics==8.3.12
# pillow==10.3.0
# numpy==1.26.4
# torch>=2.0.0
# opencv-python==4.10.0.84

flask==3.0.3
git+https://github.com/sunsmarterjie/yolov12.git
torch>=2.0.0
pillow==10.3.0
numpy==1.26.4
opencv-python==4.10.0.84
